/* Screens Sizes */
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 767px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-Width: 1200px)";

/* Colors */
$mainColor: #8d83ff;
$blackColor: #222222;
$greyColor: #777777;
$borderColor: #EEEEEE;
$white: #FFF;

/* Font Size */
$mainFontSize: 14px;
$smallFontSize: 12px;

/* Float And Padding */
$float-left: left;

$paddingTopBottom: 100px;